<p>
<strong>Title:</strong>
<%= @todo.title %>
</p>

<p>
<strong>Description:</strong>
<%= @todo.description %>
</p>

<p>
<%= form.label :duedate %><br>
<%= datetime_local_field(:todo, :duedate) %>
</p>